div#whoweare {
    background-color: #373c42;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
}

#splash {
    height: 100vh;
    background-image: url("../images/ap02.jpg");
    background-attachment: fixed  !important;
    background-position: center  !important;
    background-repeat: no-repeat  !important;
    background-size: cover  !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ui.large.secondary.inverted.pointing.menu {
    border: none;
}

.parallax {
    color: white;
    /* The image used */
    background-image: url("../images/parallax.jpg") !important;

    /* Full height */
    height: 100%  !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed  !important;
    background-position: center  !important;
    background-repeat: no-repeat  !important;
    background-size: cover  !important;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px !important;
    color: #000000;
    letter-spacing: 3px;
    line-height: 30px;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
    font-family: 'Capitolium-News-2'!important;
    font-weight: normal;
}

h4.ui.header {
    font-family: 'Capitolium-News-2'!important;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 4.5px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.top.aligned.whoweare.column {
    padding: 10% 5% 10% 5%;
    font-size: smaller;
}

.whoweare.column > i.icon {
    font-size: 40px;
    font-weight: 400;
}

.meettheteam.column {
    padding: 5% 2% 0% 2% !important;
}

p.meettheteam.subtitle {
    line-height: 10px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 13px !important;
    letter-spacing: 2px !important;
}

p.meettheteam.text {
    text-align: left;
    font-size: 14px !important;
    letter-spacing: 2.9px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.ui.center.aligned.about.container {
    padding-top: 10%;
}

.whoweare > h4.ui.header:after, .whoweare > h4.ui.header:before {
    display: none !important;
}

.about > h4.ui.header:after, .about > h4.ui.header:before {
    display: none !important;
}

.meettheteam > h4.ui.header {
    font-size: 14px;
}

.meettheteam > h4.ui.header:after {
    display: none !important;
}