h4.ui.header {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 3px;
    font-weight: normal;
}

h4.ui.header:after, h4.ui.header:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    border-bottom: 1px solid #000000;
    margin: 0 14px 4px;
}

h4.ui.inverted.header:after, h4.ui.inverted.header:before {
    border-bottom: 1px solid white;
}

.hidden.menu {
    display: none;
}

.ui.large.top.secondary.pointing.fixed.menu.transition.visible {
    background-color: white;
    height: auto;
}

.ui.large.top.secondary.pointing.fixed.menu.transition.visible .active.item, .ui.large.top.secondary.pointing.fixed.menu.transition.visible .active.item:hover {
    border-bottom: 3px solid black !important;
}

img.floatingmenulogo {
    height: 55px;
    width: auto !important;
}

a.indexmenulink,
a.indexmenulink:visited,
a.indexmenulink:hover,
a.indexmenulink:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: white;
    font-size: larger;
    letter-spacing: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

a.indexmenulink:hover {
    color: white;
}

a.indexmenulink.before:before,
a.indexmenulink.after:after {
    content: "";
    transition: 0.35s all ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

a.indexmenulink.before:before {
    top: -0.25em;
}

a.indexmenulink.after:after {
    bottom: -0.25em;
}

a.indexmenulink.before:before,
a.indexmenulink.after:after {
    height: 3px;
    height: 0.2rem;
    width: 0;
    background: white;
    margin-bottom: -5px;
}

a.indexmenulink:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

a.indexmenulink.before:hover:before,
a.indexmenulink.after:hover:after {
    /* width: 25px; */
    width: 70%;
}

a.active.indexmenulink.after:after, a.active.indexmenulink.before:before {
    width: 70%;
}

a.floatingmenulink,
a.floatingmenulink:visited,
a.floatingmenulink:hover,
a.floatingmenulink:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: black;
    font-size: larger;
    letter-spacing: 3px;
    padding-left: 10px;
    padding-right: 10px;
    height: 33%;
    top: 33%;
}

a.floatingmenulink:hover {
    color: black;
}

a.floatingmenulink.before:before,
a.floatingmenulink.after:after {
    content: "";
    transition: 0.35s all ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

a.floatingmenulink.before:before {
    top: -0.25em;
}

a.floatingmenulink.after:after {
    bottom: -0.25em;
}

a.floatingmenulink.before:before,
a.floatingmenulink.after:after {
    height: 3px;
    height: 0.2rem;
    width: 0;
    background: black;
    margin-bottom: -5px;
}

a.floatingmenulink:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

a.floatingmenulink.before:hover:before,
a.floatingmenulink.after:hover:after {
    /* width: 25px; */
    width: 70%;
}

a.active.floatingmenulink.after:after, a.active.floatingmenulink.before:before {
    width: 70%;
}

img.topmenulogo {
    background-color: white;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 10px;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
    margin-bottom: unset;
}

.ui.vertical.segment {
    border-bottom: none;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.separator {
    height: 2px;
    width: 25px;
    background-color: #000000;
    margin: 30px auto 20px;
}

.separator.invert {
    background-color: #ffffff;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

button.ui.ui.secondary.basic.fluid.button.stayintouch {
    border: unset;
    border-bottom: 2px solid black;
    border-radius: 0px;
    box-shadow: none !important;
}

.ui.form input[type=text], .ui.form input[type=text]:hover, .ui.form input[type=email], .ui.form input[type=email]:hover, .ui.form textarea, .ui.form textarea:hover {
    border: unset;
    border-bottom: 2px solid black;
    border-radius: 0px;
}

img.footerlogo {
    margin-bottom: 15px;
}

div#footer1 {
    padding-top: 3%;
}

div#footer2 {
    padding-left: 1%;
    padding-right: 1%;
    font-size: smaller;
}

.footer.column {
    padding-left: 2% !important;
    padding-right: 2% !important;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }

}

@media only screen and (max-width: 767px) {

    .ui.stackable.divided:not(.vertically).grid>.column:not(.row), .ui.stackable.divided:not(.vertically).grid>.row>.column {
        padding-left: 5%!important;
        padding-right: 5%!important;
    }

}