.ui.top.attached.secondary.pointing.menu {
    justify-content: space-around;
}

#tabs > .ui.menu .item {
    color: #B08B66;
    font-size: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 5%;
}

.ui.secondary.pointing.menu .active.item, .ui.secondary.pointing.menu .active.item:hover {
    border-bottom: 3px solid #ffffff;
}

.ui.attached.menu:not(.tabular) {
    border: 1px solid #373C42;
}

.ui.bottom.attached.tab.segment {
    border: none;
    background-color: #373C42;
}

div#tabs {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    background-color: #373C42;
    color: white;
    margin-bottom: 4px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px !important;
    color: #000000;
    letter-spacing: 3px;
    line-height: 30px;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
    font-family: 'Capitolium-News-2'!important;
    font-weight: normal;
}

h4.ui.header {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 3px;
    font-weight: normal;
}

.wrapper {
    margin: 3em 0;
}

a.indexlink,
a.indexlink:visited,
a.indexlink:hover,
a.indexlink:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: black;
    font-size: larger;
    letter-spacing: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

a.indexlink:hover {
    color: black;
}

a.indexlink.before:before,
a.indexlink.after:after {
    content: "";
    transition: 0.35s all ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

a.indexlink.before:before {
    top: -0.25em;
}

a.indexlink.after:after {
    bottom: -0.25em;
}

a.indexlink.before:before,
a.indexlink.after:after {
    height: 5px;
    height: 0.2rem;
    width: 0;
    background: black;
    margin-bottom: -5px;
}

a.indexlink:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

a.indexlink.before:hover:before,
a.indexlink.after:hover:after {
    /* width: 25px; */
    width: 100%;
}

#splash {
    height: 100vh;
    background-image: url("../images/Home01.jpg");
    background-attachment: fixed  !important;
    background-position: center  !important;
    background-repeat: no-repeat  !important;
    background-size: cover  !important;
}

#splashtext {
    margin-top: 60vh;
    margin-right: 5vw !important;
}

.ui.large.secondary.inverted.pointing.menu {
    border: none;
}

.parallax {
    color: white;
    /* The image used */
    background-image: url("../images/parallax.jpg") !important;

    /* Full height */
    height: 100%  !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed  !important;
    background-position: center  !important;
    background-repeat: no-repeat  !important;
    background-size: cover  !important;
}

@media only screen and (max-width: 767px) {

    #splashtext {
        margin-top: 50vh;
    }
}