#splash {
    height: 100vh;
    background-image: url("../images/bp03.jpg");
    background-attachment: fixed  !important;
    background-position: center  !important;
    background-repeat: no-repeat  !important;
    background-size: cover  !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#splashtext {
    margin-bottom: 30vh;
}

#splashtext h3 {
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 400;
}

#splashtext h1 {
    font-size: 105px;
    letter-spacing: 5px;
    font-weight: 400;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px !important;
    color: #000000;
    letter-spacing: 3px;
    line-height: 30px;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
    font-family: 'Capitolium-News-2'!important;
    font-weight: normal;
}

h4.ui.header {
    font-family: 'Capitolium-News-2'!important;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 4.5px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.evolution.column {
    background: url(../images/bp04.jpg);
    background-size: cover;
}

.independence.column {
    background: url(../images/bp05.jpg);
    background-size: cover;
}

.middle.aligned.services.column {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}

.services > h4.ui.header:after, .services > h4.ui.header:before {
    display: none !important;
}

.ui.services.text.container {
    padding: 0% 20% 0% 13%
}

p.servicestext {
    padding-left: 10%;
    padding-right: 10%;
}

div#workwithus {
    background-color: #373c42;
}

a.mailtolink {
    color: #ADABA8;
    font-size: large;
}

.center.aligned.services.column {
    padding: 5% 3% 5% 3%;
}

.ui.large.secondary.inverted.pointing.menu {
    border: none;
}

.parallax {
    color: white;
    /* The image used */
    background-image: url("../images/parallax.jpg") !important;

    /* Full height */
    height: 100%  !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed  !important;
    background-position: center  !important;
    background-repeat: no-repeat  !important;
    background-size: cover  !important;
}

@media only screen and (max-width: 767px) {
    .evolution.column, .independence.column {
        min-height: 50%;
    }

    .independence.column {
        top: 50%;
    }

    .middle.aligned.ind.services.column {
        top: 50%;
    }

    .ui.vertical.stripe.quote.trirow.segment {
        margin-top: 150%;
    }

    .top.aligned.icon.services.column > i.icon {
        margin-top: 20%;
    }

    .ui.services.text.container {
        padding: 0% 0% 0% 0%;
        text-align: justify;
    }
}